* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    /* color:#e69627; */
    position: relative;
    padding: 0 2vw;
    padding-bottom: 4rem;
    background: var(--bg-color);
    color: var(--text-color);
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #0ef;
    --text-color: #fff;
}

html {
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    padding: 10rem 3% 2rem;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: var(--bg-color);
}

#header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

#logo {
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}
#logo img{
    height: 3rem;
    position: relative;
    top: 0.8rem;
    left: 1.1rem;
    z-index: -10;
}


nav a {
    color: var(--text-color);
    margin-left: 4vw;
    font-size: 1rem;
    font-weight: 500;
    transition: .3s;
}

nav a:hover,
nav a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 2.3rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-img img {
    width: 30vw;
    border-radius: 50px;
    /* box-shadow: 0px 10px 1rem #6b7a92ec; */
    box-shadow: 0 0 1rem var(--main-color);
    align-self: self-start;
    animation: floatImg 4s ease-in-out infinite;
}

@keyframes floatImg {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }

}

.home-content h3 {
    font-size: 2rem;
    font-weight: 500;
    /* letter-spacing: .5rem; */
    /* font-family: Arial, Helvetica, sans-serif; */
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-content h1 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.2rem;
    font-weight: 300;
    width: 40vw;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    color: var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0rem;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .1rem;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second-bg-color);
    border-radius: 80px;
    padding: 7rem 3% 2rem;
    margin-top: 4rem;
}

#about-content {
    align-self: flex-start;
    margin-top: 5vw;
}

#about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

#about-content h3 {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#about-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2rem 0 3rem;
}

.skills {
    padding: 7rem 3% 2rem;
}

#skills h2 {
    margin-bottom: 3rem;
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.skills-container .skills-box {
    flex: 1 1 23rem;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    background: var(--second-bg-color);
    transition: .5s ease;
}

.skills-container .skills-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.skills-box i {
    font-size: 5rem;
    color: var(--main-color);
}

.skills-container h3 {
    font-size: 2.2rem;
}

.skills-container .skills-box p {
    font-size: 1.2rem;
    margin: 1rem 0 3rem;
    font-weight: 300;
}
.skills-container h4{
    font-size: 1.2rem;
    font-weight: 400;
}
.skills-box{
    display: flex;
    flex-direction: column;
    
}
.progess-bar{
    display: flex;
    flex-direction: column;
}
.progess-bar-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
/* .skills-container .progress{
    height: 7rem;
    width: 7rem;
    position: relative;
    margin-bottom: 2rem;
}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 1rem;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    
}
#circle1{
    animation: gola1 3s linear forwards;
}
#circle2{
    animation: gola2 3s linear forwards;
}
#circle3{
    animation: gola3 3s linear forwards;
}
#circle4{
    animation: gola4 3s linear forwards;
}
@keyframes gola1 {
    100%{
        stroke-dashoffset: 205;
    }
}
@keyframes gola2 {
    100%{
        stroke-dashoffset: 225;
    }
}
@keyframes gola3 {
    100%{
        stroke-dashoffset: 250;
    }
}
@keyframes gola4 {
    100%{
        stroke-dashoffset: 235;
    }
}
svg{
    position: absolute;
    top: 1.2rem;
    left: -0.2rem;
}
@media (max-width: 1200px){
    .progess-bar-1{
        display: none;
    }
    .skills-box #coding{
        display: block;
    }
}
@media (min-width: 1200px){
    .progess-bar-1{
        display: flex;
    }
    .skills-box #coding{
        display: none;
    }
}

.skills-container .progress .outer{
    height: 7rem;
    width: 7rem;
    padding: 1rem;
    box-shadow: 6px 6px 10px -1px rgba(255, 255, 255, 0.3),
     -6px -6px 10px -1px rgba(235, 162, 162, 0.15);
    border-radius: 50%;
}
.skills-container .progress .inner{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(255, 255, 255, .3),
    inset -4px -4px 6px -1px rgba(0, 0, 0, .3),
    0.5px 0.5px 0px rgba(0, 0, 0, .5) ,
    0px 12px 10px -10px rgba(0, 0, 0, .15);
    background-color: var(--second-bg-color);
} */
#number1{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-color);
}

.project {
    background: var(--second-bg-color);
    border-radius: 80px;
    margin-top: 4rem;
    padding: 7rem 3% 2rem;
}

.project h2 {
    margin-bottom: 4rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.project-container .project-box img {
    width: 100%;
    /* height: 15rem; */
    transition: .5s ease;
}
@media (min-width: 617px){
    .project-container .project-box img {
        height: 17rem;
    }
} 

.project-box:hover img {
    transform: scale(1.1);
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.project-box:hover .project-layer {
    transform: translateY(-0%);
}

.project-layer h4 {
    font-size: 2.5rem;
    font-weight: 800;
}

.project-layer p {
    font-size: 1rem;
    margin: .3rem 0 1rem;
    font-weight: 400;
    line-height: 1.7;
}

.project-layer a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--text-color);
}

.project-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

#contact {
    padding-top: 7rem;
}

#contact h2 {
    margin-bottom: 4rem;
}

.contact form {
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem auto;
    font-weight: 400;
}

.contact form input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 5%;
    background: #1a1f29;
}

.footer-text p {
    font-size: 1.2rem;
    color: var(--text-color);
}

.footer .footer-icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    border-radius: .8rem;
    background: var(--main-color);
    transition: .4s ease;
}

.footer .footer-icon a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer .footer-icon a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/* breakpoints */
@media (max-width: 2000px) {
    section {
        padding: 10rem 1% 2rem;
        min-height: auto;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 988px) {
    #header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 1% 2rem;
        min-height: auto;
    }

    #skills {
        padding-bottom: 7rem;
        margin-top: 7rem;
    }

    #project {
        padding-bottom: 7rem;
    }

    #contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 1%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    #navbar {
        position: absolute;
        top: 100%;
        left: -1rem;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    #navbar.active {
        display: block;

    }

    #navbar a {
        display: block;
        margin: 3rem 0;
        font-size: 1.5rem;
    }

    .home {
        flex-direction: column;
        min-height: auto;

    }

    .home-content {
        align-self: flex-start;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
        display: none;
    }

    .home-content p {
        width: 80vw;
    }

    .about {
        flex-direction: column-reverse;
        border-radius: 1px;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    #skills h2 {
        margin-bottom: 4rem;
    }

    #project {
        margin-bottom: 3rem;
        border-radius: 1px;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    section {
        min-height: 70vh;
    }

    #about {
        padding-top: 5rem;
    }

    #navbar a {
        margin: 3rem 3rem;
        font-size: 1.2rem;
    }

    .project-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box {
        /* width: 100%; */
        flex-wrap: wrap;
        padding-bottom: 1rem;
    }
}

@media (max-width: 365px) {
    #about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;

    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

.home-content .text-animate {
    position: relative;
    width: 30rem;
    margin:1rem 0;
    
}
.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color),var(--main-color));
    background-repeat: no-repeat;
    background-clip : text;
    background-position: -33rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}
.home-content .text-animate h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCurText  6s linear infinite;
    animation-delay: 2s;

}
@keyframes homeBgText {
    0% ,0.8%,100%{
        background-position: -33rem 0;
    }
    65%,87%{
        background-position: 0 0;
    }
}
@keyframes homeCurText {
    0% ,7.5%,98.8%{
        width: 0;
    }
    65%,78%,86%{
        width: 100%;
        opacity: 1;
    }
    75% , 82%{
        opacity: 0;
    }
}